<h1><%= @author.name %></h1>

<p><%= @author.bio %></p>

<!-- <li><%= link_to "Destroy", authors_path(@author),
                method: :delete,
                data: { confirm: "Are you sure?" } %></li> -->

<li><%= link_to "All Authors", authors_path %></li>
